body
{
    background-color: #151515;
    color: white;
}

.leftcolumn
{
    border-right: 1px solid #B4A5A5;
    margin-left: -1%;
    height: 100%;
    float: left;
    width: 13%;
    position: sticky;
}
a
{
    text-decoration: none;
    color: white;
}
.leftcolumn img
{
    height: 7%;
}
.name
{
    border-bottom: 1px solid #3C415C;
    text-align: center;
}
.cart,.login
{
    padding: 1%;
    
    border-bottom: 1px solid #3C415C;
}

.name h2:hover
{
    transform: scale(1.1);
    transition: all ease 500ms;
}
.leftcolumn img:hover
{
    transform: scale(1.2);
    transition: all ease 500ms;
}


.main
{
    
    float: left;
    width: 87%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('background.gif');
    background-size: cover;
    
}

